<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <p>{{ num }}</p>
        <!--<app-header v-on:하위 컴포넌트에서 발생한 이벤트 이름="상위 컴포넌트의 메서드 이름"></app-header>-->
        <app-header v-on:pass="logText"></app-header> <!-- 하위컴포넌트 이벤트인 pass를 호출시켜서 상위 컴포넌트 이벤트인 logText를 호출 -->
        <app-content v-on:increase="increaseNumber"></app-content>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appHeader = {
            template: '<button v-on:click="passEvent">click me</button>', // 이벤트를 발생시킬려면 v-on:click 으로 발생시킬수있다.
            methods: { // 버튼을 클릭 했을때 실행되는 함수
                passEvent: function () {
                    this.$emit('pass'); // passEvent 클릭 시 에밋 이벤트 발생 => name:"pass" | type:"$emit" | source:"<app-header>"
                }
            }
        }

        var appContent = {
            template: '<button v-on:click="addNumber">Add</button>',
            methods: {
                addNumber: function () {
                    this.$emit('increase');
                }
            }
        }
        var vm = new Vue({ // Root 컴포넌트
            el: '#app',
            components: {
                'app-header': appHeader,
                'app-content': appContent
            },
            methods: {
                logText: function () { console.log('1202'); },
                increaseNumber: function () {
                    this.num++;  // new Vue를 vm 변수에 넣고 찍어보면 data.num이 아니라 바로 num으로 빠져 있다. 그러므로 this.num은 data.num 이다
                }
            },
            data: {
                num: 10
            }
        });
        console.log(vm);
        /*=> Vue {_uid: 0, _isVue: true, $options: {…}, _renderProxy: Proxy, _self: Vue, …}
        $attrs: (...)
        $children: (2) [VueComponent, VueComponent]
        $createElement: ƒ (a, b, c, d)
        $el: div#app
        $listeners: (...)
        $options: {components: {…}, directives: {…}, filters: {…}, el: "#app", _base: ƒ, …}
        $parent: undefined
        $refs: {}
        $root: Vue {_uid: 0, _isVue: true, $options: {…}, _renderProxy: Proxy, _self: Vue, …}
        $scopedSlots: {}
        $slots: {}
        $vnode: undefined
        increaseNumber: ƒ ()
        logText: ƒ ()
        ★★★ num: 10 ★★★ */
    </script>
</body>
</html>