<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!--
        <app-header v-bind:프롭스 속성 이름="상위 컴포넌트의 데이터 이름"></app-header>

        프롭스를 정의 하기 위해서 v-bind 해서 propsdata로 message가 내려간다
        -->
        <app-header v-bind:propsdata="message"></app-header>

        <app-content v-bind:propsdata="num"></app-content>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var appHeader = {
            template: '<h1>{{ propsdata }}</h1>', // 프롭스 속성을 받아서 넣어준다
            props: ['propsdata'], // 프롭스 속성 이름
        }

        var appContent = {
            template: '<div>{{ propsdata }}</div>',
            props: ['propsdata']
        }

        new Vue({
            el: '#app',
            components: {
                'app-header': appHeader, // app-header의 상위 컴포넌트는 Root
                'app-content': appContent
            },
            data: {
                message: 'hi', // data에 message를 생성하게 되면 Root 컴포넌트에서 관리가 되게 됨 (지금 프롭스를 통해 appHerder로 meaasge가 내려갔는데, Root에서 message를 수정하게 되면 appHerder에 내려간 meaasge도 내용이 수정 됨.)
                num: 10
            }
        });
    </script>
</body>
</html>